<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/styles.css">
    <title>About Page</title>
</head>
<body>
<div class="main-content">
    {{> header }}
    <h2>Enter your desired location in the input field to get weather forecast details for that area.</h2>
</div>
{{>footer}}
</body>
</html>