<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Candidate API</title>
</head>
<body>
<div class="main-content">

    {{> header }}
    {{> headerTalview}}
    <form id="userForm">

        <input id="cID" placeholder="Enter Candidate ID"><br>
        <input id="cResume" placeholder="Enter Resume Details"><br>
        <input id="cSkills" placeholder="Enter your skills"><br>
        <input id="cJobID" placeholder="Enter Job ID"><br><br><br>
        <button type="submit" id="userSubmit">Submit</button>
    </form>

    <p id="messageOne"></p>
    <p>The Query is : \n</p>
    <p id="messageTwo"></p>

    <p id="messageThree"></p>

    <script src="/js/candidateApi.js"></script>

</div>

{{>footer}}
</body>
</html>