<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Recruiter API</title>
</head>
<body>
<div class="main-content">

    {{> header }}
    {{> headerTalview}}
    <form id="userForm">
        <input id="rID" name="userName" placeholder="Enter Recuiter ID"><br>
        <input id="rCompany" name="userID" placeholder="Enter Recruiter Company"><br><br><br>
        <button type="submit" id="userSubmit">Submit</button>
    </form>

    <p id="messageOne"></p>
    <p>The Query is : \n</p>
    <p id="messageTwo"></p>

    <p id="messageThree"></p>

    <script src="/js/recruiterApi.js"></script>

</div>

{{>footer}}
</body>
</html>