<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="main-content">

    {{> header }}
    {{> headerTalview}}
    <form id="userForm">
        <input id="userName" name="userName" placeholder="Enter Username"><br>
        <input id="userID" name="userID" placeholder="Enter User ID"><br>
        <input id="userPassword" name="userPassword" placeholder="Enter Password"><br>
        <input id="userEmail" name="userEmail" placeholder="Enter user email address"><br>
        <button type="submit" id="userSubmit">Submit</button>
    </form>

    <p id="messageOne"></p>
    <p>The Query is : \n</p>
    <p id="messageTwo"></p>

    <p id="messageThree"></p>

    <script src="/js/recruiterApi.js"></script>

</div>

{{>footer}}
</body>
</html>